body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    text-align: center;
}

.Title {
    color: #000000;
    font-size: 3rem;
    margin-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
}
.Subtitle{

    font-size: 1.5rem; /* Adjust as needed */
    margin-bottom: 300px;

}
.Subtitle1{

    font-size: 1.5rem; /* Adjust as needed */
    margin-top: 0px;
    margin-bottom: 150px;

}

img {
    width: 250px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.flavorbtn{
    padding: 20px 60px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 80px;
    margin-bottom: 200px;
}
.recommendationbtn{
    padding: 15px 40px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 80px;
}

button {
    padding: 20px 80px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333333;
}

button a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}
.checkbox{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.Form{
    margin-bottom: 150px;
}

li img {
    margin-top: 60px ;
    width: 400px;
    height: 275px; /* Adjust this value to your desired height */
}
