{% extends "NolisApp/base.html" %}
{% load static %}
{% block content %}
 <div class="Title">
    <img src="{% static 'Images/NolisLogo.png' %}" alt="Your Logo">
</div>
    <h2 class="Subtitle">Choose Your Flavor:</h2>
    <form method="post">
        {% csrf_token %}
        <button class="flavorbtn" type="submit" name="flavor" value="Savory">Savory</button>
        <button class="flavorbtn" type="submit" name="flavor" value="Sweet">Sweet</button>
        <button class="flavorbtn" type="submit" name="flavor" value="Spicy">Spicy</button>
    </form>
{% endblock %}
